# Allow healthd to do whatever battery verification it wants
allow healthd sysfs_battery_supply:dir r_dir_perms;
allow healthd sysfs_battery_supply:file r_file_perms;
